/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: #343a40;
    text-decoration: none;
  }
  
  .navbar-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #343a40;
    display: block;
    margin: 5px 0;
  }
  
  .navbar-collapse {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: auto;
    font-size: 20px;
  }
  
  .nav-item {
    position: relative;
  }
  
  .nav-link {
    text-decoration: none;
    color: #343a40;
    padding: 5px 10px;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    top: 100%;
    left: 0;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-item {
    padding: 10px;
    color: #343a40;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-item:hover {
    background-color: #e9ecef;
  }
  
  .dropdown-divider {
    height: 1px;
    background-color: #dee2e6;
    margin: 5px 0;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .form-inline {
    display: flex;
    align-items: center;
  }
  
  .form-control {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .btn-outline-success {
    color: #28a745;
    border: 1px solid #28a745;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-outline-success:hover {
    background-color: #28a745;
    color: white;
  }
  