/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    /* background-color: #f9f9f9; */
  }
  
  /* Blog Page Styles */
  
  .startup-blog-page {
    max-width: 100%;
    margin: 40px auto;
    padding: 20px;
    /* background-color: #fff; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px; */
  }
  
  /* Blog Header Styles */
  
  .startup-blog-header {
    /* background-color: #3498db; */
    color: #3E362E;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .startup-blog-header h1 {
    font-size: 65px;
    margin-bottom: 10px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .startup-blog-header p {
    font-size: 25px;
    color: #3E362E;
  }
  
  /* Blog Content Styles */
  
  .startup-blog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100vw;
  }
  
  .startup-blog-post {
    background: transparent;
  width: 1500px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding:20px;
  }
  
  .startup-blog-post h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  .startup-blog-post p {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
  }
  
  .startup-post-title {
    color: #333;
    text-decoration: none;
  }
  
  .startup-post-date {
    font-size: 14px;
    color: #999;
  }
  
  .startup-post-excerpt {
    font-size: 16px;
    color: #666;
  }
  
  .startup-read-more {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 50vw;
  }
  
  .startup-read-more:hover {
    background-color: #c0392b;
  }
  
  /* Responsive Design */
  
  @media (max-width: 768px) {
    .startup-blog-post {
      width: calc(100% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .startup-blog-page {
      margin: 20px auto;
    }
    .startup-blog-header {
      padding: 10px;
    }
    .startup-blog-post {
      margin: 10px;
      padding: 10px;
    }
  }