body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181a1b;
  color: #cfcfcf;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-style: inherit;
  width: 100%;
  color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 20px;
  gap: 35px;
}

.nav li {
  cursor: pointer;
}

.subscribe {
  background-color: #404040;
  color: #cfcfcf;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.hero {
  max-width: 600px;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #e0e0e0;
}

.hero p {
  margin-bottom: 20px;
  color: #b0b0b0;
}

.read-articles {
  background-color: #525252;
  color: #cfcfcf;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
