.latest-blog-page {
    font-family: 'Arial', sans-serif;
    color: #333;
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    background: transparent;
  }
  
  .latest-blog-header {
    text-align: center;
    margin-bottom: 40px;
    color: #3E362E;
    background: transparent;
  }
  
  .latest-blog-header h1 {
    font-size: 65px;
    margin-bottom: 10px;
  }
  
  .latest-blog-header p {
    font-size: 25px;
    color: #3E362E;
  }
  
  .latest-blog-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100vw;
  }
/*   
  .blog-post {
    padding: 20px;
    background: transparent;
  } */
 .latest-blog-post{
  background: transparent;
  width: 1500px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding:20px;
 }
  
  .latest-post-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
    /* display: flex;
    justify-content: center; */
  }
  
  .latest-post-date {
    font-size: 0.9em;
    color: white;
    margin-bottom: 15px;
  }
  
  .latest-post-excerpt {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: aliceblue;
  }
  
  .latest-read-more {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50vw;
  }
  
  .latest-read-more:hover {
    background-color: #0056b3;
  }
  